<footer class="page-footer">
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-container">
            <div class="uk-navbar-center uk-flex-center">
                {% for item in menu.get_items %}
                <div class="uk-navbar-item">
                	<div><a href="{{item.get_link}}">{{item.title}}</a></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </nav>
    <div class="page-footer-info">
        <div class="uk-container">
            <span class="site-title">{{site.title}}</span> | <span class="copyright">Copyright &copy; {{ "now"|date("Y") }}</span>
        </div>
    </div>
</footer>