{% extends "base.twig" %}

{% block content %}
<div class="uk-margin">
    <div class="uk-container">
        <h1>Page not found.</h1>
        <h2>We could not find what you're looking for.</h2>        
    </div>
</div>

{% endblock %}